# Node modules
node_modules/

# Env files
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE/editor settings
.vscode/
.DS_Store

# Build
dist/
build/

.bfg-report/

# BFG report and accidental repo copy
modovate-backend.git.bfg-report/
modovate-backend.git/
